@import "tailwindcss";

@theme {
    --font-sans: "TT Norms Pro Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    --color-primary-100: #F9F0E6;
    --color-primary-300: #F3BE82;
    --color-primary-500: #F8A442;
    --color-primary-600: #db7a2c;
    --color-primary-700: #CE7308;
    --color-success-600: #22C55E;
    --color-blue-800: #1F2937;
    --color-blue-900: #111827;
    --color-gray-100: #F3F4F6;
    --color-gray-300: #D1D5DB;
    --color-gray-500: #6B7280;
}

html, body {
    color: var(--color-blue-900);
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-Normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-ExtraBold.ttf") format("truetype");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}


@layer components {
    .btn-primary {
        @apply inline-flex items-center justify-center gap-2
        py-[14px] px-5
        border border-primary-500 rounded-lg
        bg-primary-500 text-sm font-medium
        transition hover:bg-primary-600 hover:border-primary-600;
    }
}