@import "tailwindcss";

@theme {
    --font-sans: "TT Norms Pro Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    --color-primary-500: #F8A442;
    --color-primary-600: #db7a2c;
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-Normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro Mono";
    src: url("/public/fonts/TTNormsPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@layer components {
    .btn-primary {
        @apply inline-flex items-center justify-center gap-2
        py-[14px] px-5
        border border-primary-500 rounded-lg
        bg-primary-500 text-sm font-medium
        transition hover:bg-primary-600 hover:border-primary-600;
    }
}